* {
  box-sizing: border-box;
}

html {
  font-family: Futura, sans-serif;
  font-size: $root-size;
}

html, body, #root-app {
  width: 100%;
  height: 100%;
}

html, body {
  // Disable "bounce scroll" on iOS.
  position: fixed;
  overflow: hidden;
}

#root-app {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, p {
  margin-bottom: 0.5em;
  line-height: 1.4em;
}
