$root-size: 16px;
$content-width: 1366px;
$header-height: 110px;
$max-content-width: 1366px;
$max-carousel-width: 1281px;
$z-index-modal: 1;
$z-index-loading: 2;

$colors: (
  primary: #13233A,
  dark-blue: #13233A,
  ethernal-blue: #13233A,
  light-grey: #f8f8f9,
  error: #ff0000,
  message: #457fbc,
  white: #fff,
  modal-background: rgba(29, 35, 69, 0.79),
  danger: #ff0000,
);
