.Preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: #{(100 / 8)}#{"%"};
  min-width: 150px;
  padding: 1em;
  cursor: pointer;

  &__close {
    @include fluid-attr("font-size", 28px, 58px);
    position: absolute;
    cursor: pointer;
    line-height: 0.5;
    top: 0.25em;
    right: 0.25em;
    color: #fff;
  }

  &__poster {
    position: relative;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    padding-bottom: #{(750 / 500) * 100}#{"%"};
    border-radius: 0.3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
    @include animation(loading, 1.5s infinite) {
      0%, 100% {
        background-color: rgba(0, 0, 0, 0.3);
      }
      50% {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    &:hover {
      .Preview__rating {
        visibility: visible;
      }
    }
  }

  &__rating {
    @include fluid-attr("font-size", 10px, 14px);
    font-weight: bold;
    color: $color-white;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    top: 0;
    left: 0;
    background: $color-black;
    background: linear-gradient(0deg, rgba($color-black, 1) 0%, rgba($color-black, 0) 100%);
    display: flex;
    align-items: flex-end;
    visibility: hidden;
  }

  &__title {
    @include fluid-attr("font-size", 10px, 14px);
    @include fluid-attr("margin-top", 3px, 5px);
    color: $color-white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__year {
    @include fluid-attr("font-size", 8px, 12px);
    color: $color-gray;
  }

  &__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    $aspectRatio: 500 / 750;
    $height: 85vh;

    &-img {
      height: $height;
      width: $height * $aspectRatio;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
    }

    &-info {
      height: $height;
      max-width: 530px;
      padding-left: 2em;
      padding-right: 2em;
      font-size: 0.9rem;
      display: flex;
      flex-direction: column;

      &-title {
        font-size: 2rem;
        margin-bottom: 0.25em;
        font-weight: bold;
      }
    }
  }
}
