.Preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: #{(100 / 8)}#{"%"};
  min-width: 150px;
  padding: 1em;

  &__poster {
    background-position: 50%;
    background-size: cover;
    width: 100%;
    padding-bottom: #{(750 / 500) * 100}#{"%"};
    border-radius: 0.3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__title {
    @include fluid-attr("font-size", 10px, 14px);
    @include fluid-attr("margin-top", 3px, 5px);
    color: $color-white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__year {
    @include fluid-attr("font-size", 8px, 12px);
    color: $color-gray;
  }
}
